<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Etkinlik Bilgileri</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/etkinlikbilgileri.css" />
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/app.css">
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


</head>

</html>

<body>
    <!-- NAVBAR BAŞLANGIÇ-->
    <nav class="navbar navbar-expand-lg navbar-light #2b5ca2">
        <a class="navbar-brand" href="#">TechnoEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="Anasayfa.ejs">Anasayfa <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="etkinlikleregozat">Etkinliklere Göz At <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " style="color:white;" href="etkinlikolustur.ejs">Etkinlik Oluştur</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " style="color:white;" href="#">Oturum Aç</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search" />
                <button class="btn btn-outline-light my-2 my-sm-0" style="    width: 80px;
        height: 35px;" type="submit">
                    Ara
                </button>
            </form>
        </div>
    </nav>

    <div class="container">


        <table>


            <div class="card" style="width: 42rem; margin-top:85px;     width: 42rem;
            margin-top: 115px;
            margin-left: 340px;">
                <div class="card-header" style="  padding-left: 200px;
					font-size: 26px;
					font-family: unset;">
                    Konuşmacı Bilgileri
                </div>
                <ul class="list-group list-group-flush">

                    <% veri.forEach(function(pp){ %>
                    <li class="list-group-item">

                        <h4 style="color: red;">Organizatör Adı</h4>
                    </li>
                    <li class="list-group-item">
                        <%= pp.OrganizatörAdi %>
                    </li>
                    <li class="list-group-item">
                        <h4 style="color: red;">Facebook </h4>
                    </li>
                    <li class="list-group-item">
                        <%=pp.FacebookLink%>
                    </li>
                    <li class="list-group-item">
                        <h4 style="color: red;">Twitter </h4>
                    </li>
                    <li class="list-group-item">
                        <%=pp.TwitterLink%>
                    </li>
                    <li class="list-group-item">
                        <h4 style="color: red;">İnstagram </h4>
                    </li>
                    <li class="list-group-item">
                        <%=pp.İnstagramLink%>
                    </li>
                    <li class="list-group-item">
                        <h4 style="color: red;">Web Site</h4>
                    </li>
                    <li class="list-group-item">
                        <%=pp.WebSiteUrl%>
                    </li>
                    <li class="list-group-item">
                        <h4 style="color: red;">Açıklama</h4>
                    </li>
                    <li class="list-group-item">
                        <%=pp.AciklamaBir%>
                    </li>
                    </li>


                    <% }); %>


                </ul>
            </div>
    </div>

    </table>
    <footer class="footer" style="    background-color: #204f91;
    width: 130%;
    margin-left: -195px;">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> Techno EVENT</span> İnsanları monoton yaşantıdan kurtaracak projemizle karşınızdayız,
                her gün aynı toplantılardan her gün aynı ortamlardan bunalan insanlar için,
                dünyanın her yerinde ki organizasyonlarda bulunabilirsiniz.
                Eğitim,bilişim,sanayi ve sanat gibi bir çok dalda etkinliklere katılacaksınız.
            </p>

        </div>
        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Üsküdar 5450</span> İstanbul</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> 0(216) 943 2323</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> technoevent@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
            <img src="">
            <p class="menu">
                <a href="#"> Anasayfa</a> |
                <a href="#"> Hakkımızda</a> |
                <a href="#"> Sponsorlarımız</a> |
                <a href="#"> Oturum Aç</a> |
            </p>
            <p class="name"> TechnoEvent &copy; 2019</p>
        </div>
    </footer>



</body>